# Notebook Checkpoints
analysis/.ipynb_checkpoints/

# Notebook 
notebook.md

# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Microsoft
*.xlsx
*.docx
*.xls
*.doc

# Data
*.csv
